h1{
  font-family: 'Monoton', cursive;
  padding: 10% 0 5% 0;
  font-size: 2.5em;
  color: black;
  margin: auto;
  text-decoration: underline;
}

h3 {
  color:purple;
  font-size: 2.0em;
  padding: 5% 0 3% 0;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
}

h4 {
  color: black;
}

li {
  font-family: 'Cormorant Garamond';
  color: rgb(100,20,20);
  padding: 0 0 1% 0;
  list-style: square;
  list-style: inside;
}

p{
  font-family: 'Cormorant Garamond';
  font-size: 1.1em;
  color: rgb(60,40,40);
  padding: 0 0 1% 0;
  color: black;
}

section{
  margin-bottom: 3%;
}

.header {
  height: 3%;
  width: 100%;
  position: fixed;
  z-index: 1;
  text-align: center;
  margin: auto;
  left: 0%;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444444;
  display: inline-block;
  vertical-align: middle;
}

.header li{
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  float: left;
  vertical-align: middle;
}

.header li a{
  color: white
}

.header ul li:hover{
  background-color: #252525;
}

#onpage{
  background-color: #000;
}

#top {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  float: left;
  vertical-align: middle;
}

body{
  line-height: 1;
  font-family: NanumGothic,sans-serif;
  color: #666;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  border-left: none !important;
  border-right: none !important;
  width: 30%;
  margin: 0 auto;
  position: relative;
  background-image: url("../image/background.jpg");
  background-size: cover;
}

.this {
	color: red;
	font-style: italic;
}

img {
	width: 50%;
	padding-bottom: 3%;
}