h1{
  font-family: "Comic Sans MS";
  font-size: 40px;
  padding: 100px 0px 40px 0px;
  color: black;
  margin: auto;
  text-decoration: underline;
}

h2 {
	font-size: 30px;
	padding: 20px 0px 10px 0px;
	color: red;
	font-style: italic;
}

h3 {
  color:purple;
  font-size: 20px;
  padding: 20px 0px 10px 0px;
}

h4 {
  color: black;
}

p {
  font-family: 'Cormorant Garamond';
  font-size: 15px;
  padding: 10px 0px 10px 0px;
}



section{
  margin-bottom: 50px;
}

.header {
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
  text-align: center;
  margin: auto;
  left: 0%;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444444;
  display: inline-block;
  vertical-align: middle;
}

.header li{
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  float: left;
  vertical-align: middle;
}

.header li a{
  color: white
}

.header ul li:hover{
  background-color: #252525;
}

#onpage{
  background-color: #000;
}

#top {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  float: left;
  vertical-align: middle;
}


body{
  line-height: 1;
  font-family: NanumGothic,sans-serif;
  color: #666;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  border-left: none !important;
  border-right: none !important;
  width: 980px;
  margin: 0 auto;
  position: relative;
  background-image: url("../image/background.jpg");
  background-size: cover;
}

.video-container {
  height: 50vh;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}

video {
  object-fit: cover; 
  height: 2400px;
  width: 400px;
  top: 0;
  left: 0;
}

* {
  box-sizing: border-box;
}

.video-container:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.callout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 10;
}

.support {
  position: fixed;
  bottom: 60px;
  right: 20px;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  text-align: right;
  position: relative;
  z-index: 10;
  width: 100%;
}