h1{
  font-family: 'Monoton', cursive;
  padding: 70px 0px 0px 0px;
  color: black;
  margin: auto;
}

.name {
	padding: 40px 0px 20px 0px;
	font-size: 2.0em;
	font-family: Georgia, serif;
	font-weight: bold;

}

.resume {
	font-size: 3.5em;
}



h2 {
  color: brown;
  text-decoration: underline;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
}

h3 {
  color:purple;
  padding: 0px 0px 5px 0px;
  font-size: 20px;
}

h4 {
  color: black;
  padding: 5px 0px 10px 0px;
  color: rgb(50, 50, 50);
}

div {
  border-radius: 5px;
}

li {
  font-family: 'Cormorant Garamond';
  color: rgb(100,20,20);
  padding: 0 0 1% 0;

  list-style: inside;
}

p{
	font-size: 16px;
	padding: 10px 0px 15px 0px;
}

p, li {
  font-family: 'Cormorant Garamond';
  color: rgb(100,20,20)
}

section{
  margin-bottom: 30px;
}

.header {
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
  text-align: center;
  margin: auto;
  left: 0%;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444444;
  display: inline-block;
  vertical-align: middle;
}

.header li{
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  float: left;
  vertical-align: middle;
}

.header li a{
  color: white
}

body{
  line-height: 1;
  font-family: NanumGothic,sans-serif;
  color: #666;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  border-left: none !important;
  border-right: none !important;
  width: 980px;
  margin: 0 auto;
  position: relative;
  background-image: url("../image/background.jpg");
  background-size: cover;
}

.icon{
  width: 25px;
  float: left;
}

#linked{
  color: blue;
  text-decoration: underline;
}
